= render 'shared/error_messages', object: f.object
%div
  /= f.label :name
  = f.text_field :name, placeholder: "Enter name", :autofocus => true
%div
  /= f.label :phone
  = f.text_field :phone, placeholder: "Enter phone number"