:plain
  $('#new_phone').remove()
  $('#message').addClass("success").append("<h5>New phone added</h5>").fadeOut(6000)
  $('#new_link').show()

  $('.block').append('#{j render('created')}')

  /$('.block').html("#{j render("admin")}")
